<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICmpesService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:13558/CmpesService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICmpesService" contract="ServiceCmp.ICmpesService"
                name="BasicHttpBinding_ICmpesService" />
        </client>
    </system.serviceModel>
</configuration>