<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICmpesService" />
                <binding name="BasicHttpBinding_IPacientesService" />
                <binding name="BasicHttpBinding_ITiposDocService" />
                <binding name="BasicHttpBinding_IMedicosService" />
                <binding name="BasicHttpBinding_IHorariosService" />
                <binding name="BasicHttpBinding_IEstadoCitasService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:13558/CmpesService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICmpesService" contract="ServiceCmp.ICmpesService"
                name="BasicHttpBinding_ICmpesService" />
            <endpoint address="http://localhost:13558/PacientesService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPacientesService"
                contract="ServicePaciente.IPacientesService" name="BasicHttpBinding_IPacientesService" />
            <endpoint address="http://localhost:13558/TiposDocService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITiposDocService"
                contract="ServiceTipoDoc.ITiposDocService" name="BasicHttpBinding_ITiposDocService" />
            <endpoint address="http://localhost:13558/MedicosService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMedicosService"
                contract="ServiceMedico.IMedicosService" name="BasicHttpBinding_IMedicosService" />
            <endpoint address="http://localhost:13558/HorariosService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHorariosService"
                contract="ServiceHorario.IHorariosService" name="BasicHttpBinding_IHorariosService" />
            <endpoint address="http://localhost:13558/EstadoCitasService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEstadoCitasService"
                contract="ServiceEstadoCita.IEstadoCitasService" name="BasicHttpBinding_IEstadoCitasService" />
        </client>
    </system.serviceModel>
</configuration>