<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EmailNotificationProxySoap11Binding" />
        <binding name="BasicHttpBinding_IPacientesService" />
      </basicHttpBinding>
      <customBinding>
        <binding name="EmailNotificationProxySoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8282/services/EmailNotificationProxy.EmailNotificationProxyHttpSoap11Endpoint"
        binding="basicHttpBinding" bindingConfiguration="EmailNotificationProxySoap11Binding"
        contract="NotificacionService.EmailNotificationProxyPortType"
        name="EmailNotificationProxyHttpSoap11Endpoint" />
      <endpoint address="http://localhost:3870/PacientesService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPacientesService"
        contract="PacienteService.IPacientesService" name="BasicHttpBinding_IPacientesService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca el valor siguiente en false y quite el extremo superior de los metadatos antes de la implementación -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
