
* {
    outline: medium none !important;
}
body {
    background: none repeat scroll 0 0 #436e90;
    color: #525252;
}
.body-expanded, .modal-open {
    margin-right: 15px;
    overflow-y: hidden;
}
.modal-open #content {
    z-index: inherit;
}
.body-expanded .expanded-panel, .fancybox-margin .expanded-panel, .modal-open .expanded-panel {
    margin-right: 15px;
}
.body-screensaver {
    overflow: hidden;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin: 0;
}
#logo {
    background: none repeat scroll 0 0 #dbdbdb;
    position: relative;
}
#logo a {
    background: url("../img/logo.png") no-repeat scroll right 42px rgba(0, 0, 0, 0);
    color: #525252;
    display: block;
    font-family: "Righteous",cursive;
    font-size: 20px;
    line-height: 50px;
    transition: all 0.5s ease 0s;
}
#logo a:hover {
    background-position: right 25px;
    text-decoration: none;
}
.navbar {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #242424;
    border-image: none;
    border-radius: 0;
    border-style: none none solid;
    border-width: 0 0 1px;
    left: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
}
.body-expanded .navbar {
    z-index: 9;
}
a.show-sidebar {
    color: #f0f0f0;
    float: left;
    margin-left: 15px;
    outline: medium none;
    transition: all 0.2s ease 0s;
}
a.show-sidebar:hover {
    color: #f5f5f5;
}
#sidebar-left {
    background: none repeat scroll 0 0 #436e90;
    margin-bottom: -3000px !important;
    padding-bottom: 3000px !important;
    position: relative;
    transition: all 0.1s ease 0s;
    z-index: inherit;
}
#content {
    background: none repeat scroll 0 0 #fbfbf0;
    box-shadow: 0 0 6px #000;
    margin-bottom: -2980px !important;
    overflow: hidden;
    padding-bottom: 3000px !important;
    position: relative;
    transition: all 0.1s ease 0s;
    z-index: 10;
}
.full-content {
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.nav.main-menu, .nav.msg-menu {
    margin: 0 -15px;
}
.nav.main-menu > li > a, .nav.msg-menu > li > a {
    color: #f0f0f0;
    min-height: 40px;
    text-align: center;
    transition: all 0.05s ease 0s;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .nav > li > a:hover, .nav > li > a:focus {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
}
.nav.main-menu > li > a:hover, .nav.main-menu > li > a:focus, .nav.main-menu > li.active > a, .nav.main-menu .open > a, .nav.main-menu .open > a:hover, .nav.main-menu .open > a:focus, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li.active > a, .nav.msg-menu > li > a:hover, .nav.msg-menu > li > a:focus, .nav.msg-menu > li.active > a, .nav.msg-menu .open > a, .nav.msg-menu .open > a:hover, .nav.msg-menu .open > a:focus {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    color: #f0f0f0;
}
.nav.main-menu a.active, .nav.msg-menu a.active {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
}
.nav.main-menu a.active:hover, .nav.msg-menu a.active:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
}
.nav.main-menu a.active-parent, .nav.msg-menu a.active-parent {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}
.nav.main-menu a.active-parent:hover, .nav.msg-menu a.active-parent:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}
.nav.main-menu > li > a > i, .nav.msg-menu > li > a > i {
    display: block;
    font-size: 18px;
    text-align: center;
    width: auto;
}
.main-menu .dropdown-menu {
    background: none repeat scroll 0 0 #6aa6d6;
    border: 0 none;
    border-radius: 0 4px 4px 0;
    box-shadow: none;
    float: none;
    left: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    z-index: 2001;
}
.main-menu .active-parent:hover + .dropdown-menu {
    visibility: visible;
}
.main-menu .active-parent + .dropdown-menu:hover {
    visibility: visible;
}
.main-menu .dropdown-menu > li > a {
    color: #f0f0f0;
    padding: 9px 15px 9px 40px;
}
.main-menu .dropdown-menu > li:first-child > a {
    border-radius: 0 4px 0 0;
}
.main-menu .dropdown-menu > li:last-child > a {
    border-radius: 0 0 4px;
}
#top-panel {
    background: none repeat scroll 0 0 #dbdbdb;
    height: 50px;
    line-height: 50px;
}
#main {
    margin-top: 50px;
    min-height: 800px;
    overflow: hidden;
}
#search {
    position: relative;
}
#search > input {
    background: none repeat scroll 0 0 #dfdfdf;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    color: #686868;
    height: 30px;
    line-height: 1em;
    padding: 0 35px 0 10px;
    text-shadow: 0 1px 1px #eee;
    transition: all 0.2s ease 0s;
    width: 80%;
}
#search > input + i {
    color: #fff;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 18px;
}
#search > input:focus {
    outline: medium none;
    width: 100%;
}
#search > input:focus + i {
    opacity: 1;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
}
.panel-menu {
    margin: 0;
}
.top-panel-right {
    padding-left: 0;
}
.panel-menu > li > a {
    line-height: 50px;
    padding: 0 5px 0 10px;
}
.panel-menu a.account {
    height: 50px;
    line-height: 18px;
    padding: 5px 0 5px 10px;
}
.panel-menu i {
    color: #436e90;
    font-size: 20px;
    line-height: 1em;
    margin-top: 8px;
    padding: 5px;
    transition: all 0.05s ease 0s;
    vertical-align: top;
}
.panel-menu i.pull-right {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 0 none !important;
    box-shadow: none;
    color: #121212;
    font-size: 16px;
}
.panel-menu .badge {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #436e90;
    border-radius: 2px;
    color: #436e90;
    margin-top: 5px;
    padding: 3px 6px;
    vertical-align: top;
}
.avatar {
    float: left;
    margin-right: 5px;
    width: 40px;
}
.avatar > img {
    height: 40px;
    width: 40px;
}
.user-mini > span {
    color: #436e90;
    display: block;
    font-size: 12px;
    margin-bottom: -4px;
}
.user-mini > span.welcome {
    font-weight: bold;
    margin-top: 2px;
}
.panel-menu .dropdown-menu {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    border: 0 none;
    left: auto;
    min-width: 100%;
    padding: 0;
    position: absolute;
    right: 0;
}
.panel-menu .dropdown-menu > li > a {
    color: #f0f0f0;
    padding: 5px 10px !important;
}
.panel-menu .dropdown-menu > li > a > i {
    border: 0 none;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 20px;
}
.well {
    padding: 15px;
}
.box {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #ccc;
    display: block;
    margin-bottom: 20px;
    position: relative;
    z-index: 1999;
}
.full-content .box {
    border: 0 none;
    border-radius: 0;
    margin-bottom: 0;
}
.box-header {
    background-color: #eaeaea;
    background-image: linear-gradient(to bottom, #eaeaea, #e0e0e0);
    border-bottom: 1px solid #ccc;
    color: #505559;
    height: 24px;
    overflow: hidden;
    position: relative;
}
.box-name, .modal-header-name {
    line-height: 24px;
    padding-left: 15px;
}
.box-name:hover {
    cursor: move;
}
.box-name > i {
    margin-right: 5px;
}
.box-icons {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
}
.no-move {
    display: none;
}
.expanded .no-move {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.box-content {
    /*background: none repeat scroll 0 0 #fbfbf0;*/
    padding: 15px;
    position: relative;
}
.box-content.dropbox, .box-content.sortablebox {
    overflow: hidden;
}
.full-content .box-content {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.box-icons a {
    border-left: 1px solid #fbfbf0;
    color: #505559;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    text-decoration: none !important;
    transition: all 0.2s ease 0s;
    width: 28px;
}
.box-icons a:hover {
    background: none repeat scroll 0 0 #fbfbf0;
    color: #505559;
}
.box-icons a.beauty-table-to-json {
    font-size: 14px;
    padding: 0 10px;
    width: auto;
}
.expanded a.close-link {
    display: none;
}
#sidebar-left.col-xs-2 {
    opacity: 0;
    padding: 0;
    width: 0;
}
.sidebar-show #sidebar-left.col-xs-2 {
    opacity: 1;
    padding: 0 15px;
    width: 16.6667%;
}
.sidebar-show #content.col-xs-12 {
    opacity: 1;
    width: 83.3333%;
}
.expanded {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border: 0 none;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    padding: 0;
    position: fixed;
    top: 0;
    transition: all 0.2s ease 0s;
    width: 100%;
    z-index: 3000 !important;
}
.expanded-padding {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    padding: 50px;
    transition: all 0.2s ease 0s;
}
.no-padding {
    padding: 0 !important;
}
.padding-15 {
    padding: 15px !important;
}
.no-padding .table-bordered {
    border: 0 none;
    margin: 0;
}
.no-padding .table-bordered thead tr th:first-child, .no-padding .table-bordered tbody tr th:first-child, .no-padding .table-bordered tfoot tr th:first-child, .no-padding .table-bordered thead tr td:first-child, .no-padding .table-bordered tbody tr td:first-child, .no-padding .table-bordered tfoot tr td:first-child {
    border-left: 0 none !important;
}
.no-padding .table-bordered thead tr th:last-child, .no-padding .table-bordered tbody tr th:last-child, .no-padding .table-bordered tfoot tr th:last-child, .no-padding .table-bordered thead tr td:last-child, .no-padding .table-bordered tbody tr td:last-child, .no-padding .table-bordered tfoot tr td:last-child {
    border-right: 0 none !important;
}
table.no-border-bottom tr:last-child td {
    border-bottom: 0 none;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #bbb;
}
.table-bordered {
    border: 1px solid #bbb;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #bbb;
}
.table > thead > tr > th {
    border-bottom: 2px solid #bbb;
}
.dataTables_wrapper {
    overflow: hidden;
}
.dataTables_wrapper table.table {
    clear: both;
    margin-bottom: 0;
    max-width: inherit;
}
.table-datatable *, .table-datatable *:after, .table-datatable *:before {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
.table-datatable label {
    display: block;
    font-weight: 400;
    position: relative;
}
.table-datatable tbody td {
    vertical-align: middle !important;
}
.table-datatable img {
    border: 1px solid #f8f8f8;
    margin-right: 10px;
    width: 40px;
}
.table-datatable .sorting {
    background: url("../img/sort.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    cursor: pointer;
    padding-right: 16px;
}
.table-datatable .sorting_asc {
    background: url("../img/sort-asc.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    cursor: pointer;
    padding-right: 16px;
}
.table-datatable .sorting_desc {
    background: url("../img/sort-desc.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    cursor: pointer;
    padding-right: 16px;
}
div.DTTT_collection_background {
    z-index: 2002;
}
div.DTTT .btn {
    color: #333 !important;
    font-size: 12px;
}
ul.DTTT_dropdown.dropdown-menu {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7) !important;
    border: 0 none;
    border-radius: 0 0 4px 4px;
    margin: 0;
    min-width: 157px;
    padding: 0;
    z-index: 2003;
}
ul.DTTT_dropdown.dropdown-menu li {
    position: relative;
}
ul.DTTT_dropdown.dropdown-menu > li > a {
    color: #f0f0f0 !important;
    display: block;
    padding: 5px 10px !important;
    position: relative;
}
ul.DTTT_dropdown.dropdown-menu > li:first-child > a {
    border-radius: 0;
}
ul.DTTT_dropdown.dropdown-menu > li:last-child > a {
    border-radius: 0 0 4px 4px;
}
ul.DTTT_dropdown.dropdown-menu > li:hover > a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    color: #f0f0f0;
}
.dataTables_wrapper input[type="text"] {
    -moz-appearance: none;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    box-sizing: border-box;
    color: #555;
    display: block;
    font-size: 14px;
    height: 26px;
    line-height: 1.42857;
    padding: 2px 12px;
    transition: all 0.2s ease 0s;
    width: 90%;
}
.dataTables_wrapper input[type="text"]:focus {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
#breadcrumb {
    background: none repeat scroll 0 0 #436e90;
    line-height: 40px;
    margin-bottom: 30px;
    padding: 0;
}
.breadcrumb {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0;
    margin: 0;
    padding: 0 15px;
}
.breadcrumb > li > a {
    color: #d8d8d8;
}
.breadcrumb > li > a:hover, .breadcrumb > li:last-child > a {
    color: #f8f8f8;
}
.bs-callout {
    background: none repeat scroll 0 0 #ededed;
    border-left: 3px solid #505559;
    padding: 15px;
}
.bs-callout h4 {
    color: #505559;
    margin-bottom: 5px;
    margin-top: 0;
}
.no-padding .bs-callout {
    border: 0 none;
}
.page-header {
    border-bottom: 1px solid #c7c7c7;
    margin: 0 0 10px;
}
.box-content .page-header, legend, .full-calendar .page-header {
    border-bottom: 1px dashed #b6b6b6;
    margin: 0 0 10px;
}
.invoice-header {
    border-bottom: 1px dashed #b6b6b6;
    display: inline-block;
    margin: 0 0 10px;
}
.box-content .form-group, .devoops-modal-inner .form-group {
    margin-bottom: 15px;
    margin-top: 15px;
}
.show-grid [class^="col-"] {
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
    padding-bottom: 10px;
    padding-top: 10px;
}
.show-grid [class^="col-"]:hover {
    background-color: rgba(107, 134, 182, 0.2);
    border: 1px solid #ebebeb;
    padding-bottom: 10px;
    padding-top: 10px;
}
.show-grid, .show-grid-forms {
    margin-bottom: 15px;
}
.show-grid-forms [class^="col-"] {
    padding-bottom: 10px;
    padding-top: 10px;
}
.DTTT.btn-group {
    border-right: 1px solid #dbdbdb;
    position: absolute;
    right: 83px;
    top: -28px;
}
.DTTT.btn-group a {
    background: none repeat scroll 0 0 #f7f7f7;
    border: 0 none;
    border-radius: 0;
    box-shadow: none !important;
    font-size: 14px;
    font-weight: bold;
    line-height: 1em;
    margin: 0;
    outline: medium none;
    padding: 6px 12px;
}
#screensaver {
    background: none repeat scroll 0 0 #000;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3000;
}
#screensaver.show {
    display: block;
}
#canvas {
    position: relative;
}
#screensaver i {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 60px;
    height: 100px;
    line-height: 100px;
    position: absolute;
    right: 50px;
    text-align: center;
    top: 50px;
    width: 100px;
}
.well pre {
    background-color: transparent;
    border: 0 none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    white-space: nowrap;
}
.well pre code {
    white-space: normal;
}
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    border-color: transparent;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 3px;
    cursor: pointer;
    display: inline-block;
    font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Segoe UI",Verdana,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    margin: 0 0 10px;
    outline: medium none !important;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
}
.btn-label-left span {
    display: inline-block;
    left: -10px;
    padding: 0 8px;
    position: relative;
}
.btn-label-right span {
    display: inline-block;
    padding: 0 8px;
    position: relative;
    right: -10px;
}
.btn i {
    vertical-align: middle;
}
.btn-app {
    font-size: 14px;
    height: 50px;
    padding: 0;
    width: 50px;
}
.btn-app i {
    display: block;
    font-size: 24px;
    line-height: 48px;
}
.btn-app-sm {
    font-size: 14px;
    height: 30px;
    padding: 0;
    width: 30px;
}
.btn-app-sm i {
    display: block;
    font-size: 14px;
    line-height: 28px;
}
.btn-circle {
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}
.btn.active {
    background-image: none;
    box-shadow: none;
    outline: 0 none;
}
.progress {
    overflow: visible;
}
.progress-ui {
    height: 10px;
}
.progress-bar {
    border-radius: 4px;
}
.progress-bar.ui-widget-content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    height: 100%;
    position: relative;
}
.progress-bar .ui-state-default {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(100, 100, 100, 0.5));
    border: 0 solid #d3d3d3;
    border-radius: 4px;
    cursor: pointer;
    height: 10px;
    margin-left: -5px;
    outline: medium none !important;
    top: 0;
    width: 10px;
}
.ui-widget-header {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.progress-bar .ui-widget-header, .bg-default, .btn-default, .btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default.active[disabled], fieldset[disabled] .btn-default.active, .progress-bar {
    background-color: #d8d8d8;
    border-color: #cbcbcb;
    color: #505559;
}
.txt-default {
    color: #d8d8d8;
}
.progress-bar-primary .ui-widget-header, .bg-primary, .btn-primary, .btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active, .table > thead > tr > td.primary, .table > tbody > tr > td.primary, .table > tfoot > tr > td.primary, .table > thead > tr > th.primary, .table > tbody > tr > th.primary, .table > tfoot > tr > th.primary, .table > thead > tr.primary > td, .table > tbody > tr.primary > td, .table > tfoot > tr.primary > td, .table > thead > tr.primary > th, .table > tbody > tr.primary > th, .table > tfoot > tr.primary > th {
    background-color: #6aa6d6;
    border-color: #5a8db6;
    color: #f8f8f8;
}
.txt-primary {
    color: #6aa6d6;
}
.progress-bar-success .ui-widget-header, .bg-success, .btn-success, .btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success.active[disabled], fieldset[disabled] .btn-success.active, .progress-bar-success, .table > thead > tr > td.success, .table > tbody > tr > td.success, .table > tfoot > tr > td.success, .table > thead > tr > th.success, .table > tbody > tr > th.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > tbody > tr.success > td, .table > tfoot > tr.success > td, .table > thead > tr.success > th, .table > tbody > tr.success > th, .table > tfoot > tr.success > th {
    background-color: #63cc9e;
    border-color: #54ae86;
    color: #f8f8f8;
}
.txt-success, .has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline {
    color: #63cc9e;
}
.has-success .form-control {
    border-color: #54ae86;
}
.progress-bar-info .ui-widget-header, .bg-info, .btn-info, .btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info.active[disabled], fieldset[disabled] .btn-info.active, .progress-bar-info, .table > thead > tr > td.info, .table > tbody > tr > td.info, .table > tfoot > tr > td.info, .table > thead > tr > th.info, .table > tbody > tr > th.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > tbody > tr.info > td, .table > tfoot > tr.info > td, .table > thead > tr.info > th, .table > tbody > tr.info > th, .table > tfoot > tr.info > th {
    background-color: #7bc5d3;
    border-color: #69a8b4;
    color: #f8f8f8;
}
.txt-info {
    color: #7bc5d3;
}
.progress-bar-warning .ui-widget-header, .bg-warning, .btn-warning, .btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning.active[disabled], fieldset[disabled] .btn-warning.active, .progress-bar-warning, .table > thead > tr > td.warning, .table > tbody > tr > td.warning, .table > tfoot > tr > td.warning, .table > thead > tr > th.warning, .table > tbody > tr > th.warning, .table > tfoot > tr > th.warning, .table > thead > tr.warning > td, .table > tbody > tr.warning > td, .table > tfoot > tr.warning > td, .table > thead > tr.warning > th, .table > tbody > tr.warning > th, .table > tfoot > tr.warning > th {
    background-color: #dfd271;
    border-color: #beb360;
    color: #f8f8f8;
}
.txt-warning, .has-warning .help-block, .has-warning .control-label, .has-warning .radio, .has-warning .checkbox, .has-warning .radio-inline, .has-warning .checkbox-inline {
    color: #dfd271;
}
.has-warning .form-control {
    border-color: #beb360;
}
.progress-bar-danger .ui-widget-header, .bg-danger, .btn-danger, .btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger.active[disabled], fieldset[disabled] .btn-danger.active, .progress-bar-danger, .table > thead > tr > td.danger, .table > tbody > tr > td.danger, .table > tfoot > tr > td.danger, .table > thead > tr > th.danger, .table > tbody > tr > th.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > tbody > tr.danger > td, .table > tfoot > tr.danger > td, .table > thead > tr.danger > th, .table > tbody > tr.danger > th, .table > tfoot > tr.danger > th {
    background-color: #d15e5e;
    border-color: #b25050;
    color: #f8f8f8;
}
.txt-danger, .has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
    color: #d15e5e;
}
.has-error .form-control {
    border-color: #b25050;
}
.progress-bar .ui-state-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #cecece;
    border-color: #cbcbcb;
    color: #505559;
}
.progress-bar-primary .ui-state-default, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .table-hover > tbody > tr > td.primary:hover, .table-hover > tbody > tr > th.primary:hover, .table-hover > tbody > tr.primary:hover > td, .table-hover > tbody > tr.primary:hover > th {
    background-color: #5a8db6;
    border-color: #5a8db6;
    color: #fff;
}
.progress-bar-success .ui-state-default, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success, .table-hover > tbody > tr > td.success:hover, .table-hover > tbody > tr > th.success:hover, .table-hover > tbody > tr.success:hover > td, .table-hover > tbody > tr.success:hover > th {
    background-color: #54ae86;
    border-color: #54ae86;
    color: #fff;
}
.has-success .form-control:focus {
    border-color: #54ae86;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #54ae86;
}
.progress-bar-info .ui-state-default, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info, .table-hover > tbody > tr > td.info:hover, .table-hover > tbody > tr > th.info:hover, .table-hover > tbody > tr.info:hover > td, .table-hover > tbody > tr.info:hover > th {
    background-color: #69a8b4;
    border-color: #69a8b4;
    color: #fff;
}
.progress-bar-warning .ui-state-default, .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning, .table-hover > tbody > tr > td.warning:hover, .table-hover > tbody > tr > th.warning:hover, .table-hover > tbody > tr.warning:hover > td, .table-hover > tbody > tr.warning:hover > th {
    background-color: #beb360;
    border-color: #beb360;
    color: #fff;
}
.has-warning .form-control:focus {
    border-color: #beb360;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #beb360;
}
.progress-bar-danger .ui-state-default, .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger, .table-hover > tbody > tr > td.danger:hover, .table-hover > tbody > tr > th.danger:hover, .table-hover > tbody > tr.danger:hover > td, .table-hover > tbody > tr.danger:hover > th {
    background-color: #b25050;
    border-color: #b25050;
    color: #fff;
}
.has-error .form-control:focus {
    border-color: #b25050;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #b25050;
}
.slider-range-min-amount, .slider-range-max-amount, .slider-range-amount {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    outline: medium none !important;
}
.progress-bar.ui-slider-vertical {
    width: 20px;
}
.progress-bar.ui-slider-vertical .ui-state-default {
    border-radius: 4px;
    height: 20px;
    left: 0;
    margin-left: 0;
    top: auto;
    width: 20px;
}
#equalizer .progress {
    display: inline-block;
    height: 160px;
    margin: 15px;
}
.beauty-table {
    width: 100%;
}
.beauty-table input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
    outline: medium none;
    padding: 2px 15px !important;
    text-align: center;
    width: 100%;
}
.beauty-table input:focus {
    background: none repeat scroll 0 0 #fefefe;
    border: 1px solid #dfdfdf;
    font-size: 16px;
    outline: medium none;
    padding: 2px 15px !important;
    text-align: center;
    width: 100%;
}
.c {
    color: #999;
    display: block;
}
.nt {
    color: #2f6f9f;
}
.na {
    color: #4f9fcf;
}
.s {
    color: #d44950;
}
.radio, .checkbox, .radio-inline, .checkbox-inline {
    padding-left: 20px;
    position: relative;
}
.radio label, .checkbox label, .radio-inline label, .checkbox-inline label {
    cursor: pointer;
    font-weight: normal;
    padding-left: 8px;
    transition: all 1s ease 0s;
}
.radio + .radio, .checkbox + .checkbox {
    margin-top: 10px;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    clip: rect(0px, 0px, 0px, 0px);
    position: absolute;
}
.checkbox i, .checkbox-inline i, .radio i, .radio-inline i {
    cursor: pointer;
    font-size: 24px;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 1s ease 0s;
}
.checkbox i.small, .checkbox-inline i.small, .radio i.small, .radio-inline i.small {
    font-size: 18px;
    top: 2px;
}
.checkbox input[type="checkbox"]:checked + i:before, .checkbox-inline input[type="checkbox"]:checked + i:before {
    content: "";
}
.radio input[type="radio"]:checked + i:before, .radio-inline input[type="radio"]:checked + i:before {
    content: "";
}
.toggle-switch {
    position: relative;
    width: 60px;
}
.toggle-switch input {
    display: none;
}
.toggle-switch label {
    border-radius: 20px;
    cursor: pointer;
    display: block;
    overflow: hidden;
}
.toggle-switch-inner {
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    width: 200%;
}
.toggle-switch-inner:before, .toggle-switch-inner:after {
    background-color: #f5f5f5;
    border-radius: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    box-sizing: border-box;
    color: #929292;
    float: left;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding: 0;
    text-shadow: 1px 1px 1px #ffffff;
    width: 50%;
}
.toggle-switch-inner:before {
    border-radius: 20px 0 0 20px;
    content: "ON";
    padding-left: 15px;
}
.toggle-switch-inner:after {
    border-radius: 0 20px 20px 0;
    content: "OFF";
    padding-right: 15px;
    text-align: right;
}
.toggle-switch-switch {
    background-color: #f0f0f0;
    background-image: linear-gradient(to bottom, #f0f0f0, #dfdfdf);
    border: 2px solid #d8d8d8;
    border-radius: 20px;
    bottom: 0;
    color: #f8f8f8;
    line-height: 1em;
    margin: 0;
    position: absolute;
    right: 40px;
    text-align: center;
    text-shadow: 0 0 1px #adadad;
    top: 0;
    transition: all 0.3s ease-in 0s;
    width: 20px;
}
.toggle-switch input:checked + .toggle-switch-inner {
    margin-left: 0;
}
.toggle-switch input:checked + .toggle-switch-inner + .toggle-switch-switch {
    right: 0;
}
.toggle-switch-danger input:checked + .toggle-switch-inner + .toggle-switch-switch {
    background: none repeat scroll 0 0 #d15e5e;
    border: 2px solid #d15e5e;
}
.toggle-switch-warning input:checked + .toggle-switch-inner + .toggle-switch-switch {
    background: none repeat scroll 0 0 #dfd271;
    border: 2px solid #dfd271;
}
.toggle-switch-info input:checked + .toggle-switch-inner + .toggle-switch-switch {
    background: none repeat scroll 0 0 #7bc5d3;
    border: 2px solid #7bc5d3;
}
.toggle-switch-success input:checked + .toggle-switch-inner + .toggle-switch-switch {
    background: none repeat scroll 0 0 #63cc9e;
    border: 2px solid #63cc9e;
}
.toggle-switch-primary input:checked + .toggle-switch-inner + .toggle-switch-switch {
    background: none repeat scroll 0 0 #6aa6d6;
    border: 2px solid #6aa6d6;
}
.select2-container {
    width: 100%;
}
.select2-container .select2-choice {
    height: 30px;
}
.knob-slider {
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
    text-align: center;
    width: 100%;
}
.knob-slider > div {
    display: inline-block !important;
}
.knob-slider input {
    outline: medium none !important;
}
.ipod {
    background: none repeat scroll 0 0 #dedede;
    padding: 50px 0;
    text-align: center;
}
.knob-clock {
    text-align: center;
}
.knob-clock > div {
    color: #a2a2a2;
    font-size: 50px;
    text-align: center;
}
.knob {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    border: 0 none;
}
.box-pricing:hover {
    box-shadow: 0 0 5px #525252;
    transition: all 0.5s ease 0s;
}
.box-pricing .row-fluid > div {
    line-height: 1.42857;
    padding: 18px 15px 8px;
    vertical-align: top;
}
.box-pricing .row-fluid.centered > div {
    background-color: #f5f5f5;
    padding: 8px;
    text-align: center;
}
.box-pricing .row-fluid.centered > div:nth-child(2n+1) {
    background-color: #f9f9f9;
}
.box-pricing .box-header {
    height: 80px;
    padding: 10px 0;
}
.box-pricing .box-name {
    padding: 0 10px;
    text-align: center;
}
.box-pricing .box-name:hover {
    cursor: inherit;
}
#messages #breadcrumb {
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 2000;
}
#messages-menu {
    background: none repeat scroll 0 0 #436e90;
    height: 100%;
    margin: 0;
    position: fixed;
    top: 90px;
    z-index: 2;
}
#messages-list {
    margin-top: 40px;
    padding: 0;
}
.one-list-message {
    background: none repeat scroll 0 0 #f1f1f1;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 15px 15px 15px 25px;
}
.one-list-message .checkbox {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
}
.one-list-message .message-title {
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
}
.one-list-message .message-date {
    background: none repeat scroll 0 0 #d8d8d8;
    border-radius: 2px;
    color: #000;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 10px;
    text-align: center;
    white-space: nowrap;
    width: 50px;
}
.form-control {
    border-radius: 3px;
    height: 26px;
    padding: 2px 12px;
}
.input-lg {
    height: 39px;
}
.input-sm {
    height: 18px;
}
.select2-container-multi .select2-choices {
    -moz-user-select: none;
    background-clip: padding-box;
    background-color: #fff;
    background-image: -moz-linear-gradient(center bottom , #eee 0%, #fff 50%);
    border: 1px solid #aaa;
    border-radius: 4px;
    color: #444;
    display: block;
    height: 26px;
    line-height: 26px;
    min-height: 26px;
    overflow: hidden;
    padding: 0 0 0 8px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
}
.select2-container-multi .select2-choices .select2-search-field input {
    margin: 0;
    padding: 0;
}
.has-feedback .form-control-feedback {
    height: 26px;
    line-height: 26px;
    width: 26px;
}
.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    min-height: inherit;
    padding-top: 0;
}
.form-horizontal .control-label {
    padding-top: 4px;
}
.input-group-addon {
    padding: 0 6px;
}
.form-group .form-control, .form-group .input-group {
    margin-bottom: 5px;
}
.input-group .form-control {
    margin: 0;
}
#ui-datepicker-div {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7) !important;
    border: 0 none;
}
#ui-datepicker-div .ui-widget-header {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border-color: -moz-use-text-color -moz-use-text-color #686868;
    border-image: none;
    border-radius: 0;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #f8f8f8;
    padding: 1px 0;
}
#ui-datepicker-div.ui-widget-content {
    color: #f8f8f8 !important;
}
#ui-datepicker-div .ui-state-default, #ui-datepicker-div .ui-widget-content .ui-state-default, #ui-datepicker-div .ui-widget-header .ui-state-default {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #f8f8f8;
    text-align: center;
}
#ui-datepicker-div .ui-state-hover, #ui-datepicker-div.ui-widget-content .ui-state-hover, #ui-datepicker-div .ui-widget-header .ui-state-hover, #ui-datepicker-div .ui-state-focus, #ui-datepicker-div.ui-widget-content .ui-state-focus, #ui-datepicker-div .ui-widget-header .ui-state-focus, #ui-datepicker-div .ui-state-highlight, #ui-datepicker-div.ui-widget-content .ui-state-highlight, #ui-datepicker-div .ui-widget-header .ui-state-highlight {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) !important;
    border: 0 none;
    top: 2px;
}
#ui-datepicker-div .ui-datepicker-group {
    border-left: 1px solid #686868;
}
#ui-datepicker-div .ui-datepicker-group:first-child {
    border-left: 0 none;
}
#ui-datepicker-div .ui-datepicker-buttonpane {
    margin: 0;
}
#ui-datepicker-div .ui-datepicker-group table {
    margin: 0 auto !important;
}
.ui-datepicker .ui-datepicker-prev {
    cursor: pointer;
    left: 2px !important;
}
.ui-datepicker .ui-datepicker-next {
    cursor: pointer;
    right: 2px !important;
}
.ui-icon-circle-triangle-w {
    background: url("../img/ui-left.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.ui-icon-circle-triangle-e {
    background: url("../img/ui-right.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.ui-icon-circle-arrow-s {
    background: url("../img/ui-accordion-down.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.ui-icon-circle-arrow-e {
    background: url("../img/ui-accordion-right.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
#ui-datepicker-div .ui-slider-horizontal {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border: 0 none;
    height: 4px;
}
#ui-datepicker-div .ui-slider-horizontal .ui-slider-handle {
    background: none repeat scroll 0 0 #d8d8d8 !important;
    border: 1px solid #f8f8f8;
    cursor: pointer;
    height: 8px;
    margin-left: -4px;
    outline: medium none;
    top: -2px;
    width: 8px;
}
.ui-spinner-input {
    margin: 0;
}
.ui-spinner .form-control {
    margin-bottom: 0;
}
#tabs.ui-widget-content, #tabs .ui-widget-header {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 0;
    padding: 0;
}
#tabs .ui-widget-header {
    border-bottom: 1px solid #d8d8d8;
}
#tabs .ui-state-default, #tabs.ui-widget-content .ui-state-default, #tabs .ui-widget-header .ui-state-default {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 0 none;
    margin: 0 0 -1px;
}
#tabs .ui-state-active, #tabs.ui-widget-content .ui-state-active, #tabs .ui-widget-header .ui-state-active {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    cursor: pointer;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin: 0;
    padding: 0;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    outline: medium none !important;
    padding: 5px 15px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #fcfcfc;
    border-color: #d8d8d8 #d8d8d8 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
}
.ui-tabs .ui-tabs-nav {
    padding: 0;
}
.ui-tabs .ui-tabs-panel {
    padding: 1em 0;
}
.ui-widget {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.jqstooltip {
    border: 0 none !important;
    border-radius: 4px;
    box-sizing: content-box;
    margin: 0 !important;
    padding: 0;
    text-align: center !important;
    width: 50px;
}
.ui-accordion .ui-accordion-header {
    border-radius: 0;
    margin: 0;
    padding: 6px 12px;
    top: 0;
}
.ui-accordion .ui-accordion-icons {
    padding-left: 28px;
}
.ui-accordion-header.ui-state-default {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #f5f5f5 !important;
    border-color: #fcfcfc -moz-use-text-color;
    border-image: none;
    border-style: solid none;
    border-width: 1px 0;
}
.ui-accordion-header.ui-state-hover, .ui-accordion-header.ui-state-focus {
    background: none repeat scroll 0 0 #ebebeb !important;
}
.ui-accordion-header.ui-state-active {
    background: none repeat scroll 0 0 #d8d8d8 !important;
}
.ui-accordion .ui-accordion-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: -moz-use-text-color #d8d8d8;
    border-image: none;
    border-left: 1px solid #d8d8d8;
    border-radius: 0;
    border-right: 1px solid #d8d8d8;
    border-style: none solid;
    border-width: 0 1px;
    padding: 10px 12px;
}
#simple_gallery {
    text-align: center;
}
#simple_gallery a.fancybox {
    display: inline-block;
    padding: 5px;
}
#simple_gallery a.fancybox img {
    border: 1px solid #979797;
    border-radius: 2px;
    padding: 2px;
    width: 100%;
}
#simple_gallery a.fancybox img:hover {
    box-shadow: 0 0 10px #c7c7c7;
}
.ex-tooltip {
    display: none;
    position: absolute;
    z-index: 2000;
}
.morris-hover {
    position: absolute;
    z-index: 1000;
}
.morris-hover.morris-default-style, .ex-tooltip {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    color: #525252;
    font-size: 12px;
    padding: 6px 20px;
    text-align: center;
}
.morris-hover.morris-default-style .morris-hover-row-label {
    font-weight: bold;
    margin: 0.25em 0;
}
.morris-hover.morris-default-style .morris-hover-point {
    margin: 0.1em 0;
    white-space: nowrap;
}
#dashboard-header {
    margin-bottom: 20px;
}
#dashboard-header h3 {
    line-height: 1;
    margin-top: 8px;
}
#dashboard_links {
    padding: 0;
}
#dashboard_links .nav {
    border-radius: 0 4px 4px 0;
    overflow: hidden;
}
#dashboard_links .nav-stacked > li {
    border-bottom: 1px solid #b9b9b9;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    margin: 0;
    padding: 0;
}
#dashboard_links .nav-pills > li > a {
    background: none repeat scroll 0 0 #ebebeb;
    border-radius: 0;
    color: #878787;
    display: block;
    outline: medium none;
    padding: 15px 10px 15px 15px;
}
#dashboard_links .nav-pills > li.active {
    margin: 0;
    position: relative;
}
#dashboard_links .nav-pills > li.active > a, #dashboard_links .nav-pills > li.active > a:hover, #dashboard_links .nav-pills > li.active > a:focus, #dashboard_links .nav > li > a:hover, #dashboard_links .nav > li > a:focus {
    background: none repeat scroll 0 0 #dbdbdb;
}
#dashboard_links .nav-pills > li.active > a:before {
    color: #fff;
    content: "";
    font-family: FontAwesome;
    font-size: 30px;
    left: -2px;
    position: absolute;
}
#dashboard_tabs {
    background: none repeat scroll 0 0 #fff;
    border-radius: 4px 0 0 4px;
    padding-top: 15px;
}
.sparkline-dashboard {
    float: left;
    margin-right: 10px;
    text-align: center;
}
.sparkline-dashboard-info {
    display: block;
    float: left;
    text-align: center;
}
.sparkline-dashboard-info span {
    color: #b25050;
    display: block;
    font-weight: bold;
}
.historical span {
    display: block;
}
.ow-server {
    padding-bottom: 25px;
    padding-top: 8px;
}
.ow-server:hover {
    background: none repeat scroll 0 0 #e7e7e7;
}
.ow-server .page-header {
    padding-bottom: 3px;
}
.ow-server h4 i {
    left: 15px;
    position: absolute;
}
.ow-server small {
    position: absolute;
    right: 15px;
    top: 51px;
}
.ow-server-bottom {
    margin-top: 25px;
}
.ow-server-bottom .knob-slider {
    font-size: 11px;
}
#ow-server-footer {
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}
.ow-settings {
    display: none;
    left: 40px;
    position: absolute;
    top: 7px;
}
.ow-settings a {
    color: #525252;
}
.ow-server:hover .ow-settings {
    display: block;
}
#ow-server-footer a {
    border-left: 1px solid #f8f8f8;
    display: block;
    padding: 10px 0;
    text-decoration: none;
}
#ow-server-footer a:first-child {
    border-left: 0 none;
}
#ow-server-footer span {
    display: block;
}
.m-table > thead > tr > th, .m-table > tbody > tr > th, .m-table > tfoot > tr > th, .m-table > thead > tr > td, .m-table > tbody > tr > td, .m-table > tfoot > tr > td {
    padding: 2px 5px;
    vertical-align: middle;
}
.m-ticker span {
    display: block;
    font-size: 0.8em;
    line-height: 1em;
}
.m-price {
    text-align: right;
}
.m-change .fa-angle-up {
    color: #54ae86;
    font-weight: bold;
}
.m-change .fa-angle-down {
    color: #b25050;
    font-weight: bold;
}
#ow-summary {
    font-size: 12px;
}
#ow-summary b {
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    float: right;
    margin: 1px;
    padding: 1px 4px;
}
#ow-donut {
    margin: 0 0 20px;
}
#ow-donut > div {
    padding: 0;
}
#ow-activity .row {
    font-size: 13px;
    margin: 0 0 0 -15px;
}
#ow-setting {
    border: 1px solid #c7c7c7;
    border-radius: 4px 4px 0 0;
    height: 28px;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: -200px;
    top: 1px;
    transition: all 0.1s ease 0s;
    width: 158px;
}
#ow-marketplace:hover #ow-setting {
    opacity: 1;
    right: 15px;
}
#ow-setting a {
    color: #d8d8d8;
    display: block;
    float: left;
    font-size: 16px;
    height: 26px;
    line-height: 28px;
    margin-left: 10px;
    text-align: center;
    transition: all 0.1s ease 0s;
    width: 20px;
}
#ow-setting a:hover {
    color: #222;
    font-size: 16px;
    line-height: 24px;
}
#ow-licenced {
    margin: 20px 0;
}
#ow-licenced .row {
    margin: 0;
}
#ow-stat .row {
    margin: 0;
}
#dashboard-clients .one-list-message {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 10px 15px;
}
#dashboard-clients .one-list-message:last-child {
    border-bottom: 0 none;
}
#dashboard-clients .one-list-message .message-date {
    left: 15px;
    padding: 0 15px;
    position: relative;
    right: auto;
    width: auto;
}
.btn + .dropdown-menu {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7) !important;
    border: 0 none;
    left: auto;
    margin-top: -10px;
    min-width: 100%;
    padding: 0;
    right: 0;
}
.btn + .dropdown-menu > li > a {
    color: #f0f0f0;
    padding: 5px 10px !important;
}
.v-txt {
    box-shadow: 0 0 10px #d8d8d8;
    color: #d8d8d8;
    font-size: 18px;
    left: -20px;
    padding: 0 5px;
    position: absolute;
    top: 60px;
    transform: rotate(-90deg);
}
.full-calendar {
    background: none repeat scroll 0 0 #fcfcfc;
    padding: 25px 0;
}
.external-event {
    background: none repeat scroll 0 0 #f5f5f5;
    margin: 4px 0;
    padding: 2px 6px;
}
.external-event:hover {
    background: none repeat scroll 0 0 #6aa6d6;
    color: #f8f8f8;
    cursor: move;
}
#add-new-event {
    background: none repeat scroll 0 0 #ebebeb;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 10px;
}
.modal-backdrop {
    z-index: 2000;
}
.modal {
    z-index: 2001;
}
.fc-event {
    background-color: #6aa6d6;
    border: 1px solid #6aa6d6;
}
.qq-upload-drop-area {
    background: none repeat scroll 0 0 #fbfbf0;
    height: 100%;
    position: absolute;
    width: 100%;
}
.qq-upload-button {
    float: right;
    margin: 20px 15px 0 0;
}
.qq-upload-list {
    list-style: outside none none;
    margin: 60px 15px 0;
    padding: 0;
    position: relative;
    z-index: 3;
}
.qq-upload-list li {
    background: none repeat scroll 0 0 rgba(245, 245, 245, 0.9);
    border: 1px solid #e6e6e6;
    display: inline-block;
    font-size: 12px;
    margin: 15px;
    padding: 15px;
    position: relative;
    text-align: center;
}
.qq-upload-settings {
    background: none repeat scroll 0 0 #fff;
    border-radius: 0 0 4px 4px;
    bottom: 0;
    left: 0;
    opacity: 0;
    padding: 7px 0;
    position: absolute;
    transition: all 0.2s ease 0s;
    visibility: hidden;
    width: 100%;
}
.qq-upload-list li:hover .qq-upload-settings {
    opacity: 1;
    visibility: visible;
}
.qq-upload-list li img {
    border: 1px solid #b4b4b4;
    margin-bottom: 5px;
}
.qq-upload-filename {
    display: block;
    overflow: hidden;
}
.qq-upload-file, .qq-upload-size, .qq-upload-status-text {
    display: block;
}
.qq-dropped-zone {
    font-weight: bold;
    left: 50%;
    margin-left: -71px;
    position: absolute;
    text-align: center;
    top: 5%;
}
.qq-dropped-zone i {
    color: #f5f5f5;
    display: block;
    font-size: 5em;
    text-shadow: 0 -1px 1px #d8d8d8;
}
#page-500 h1, .page-404 h1 {
    font-size: 5em;
}
.page-404 .form-inline {
    background: none repeat scroll 0 0 #fafafa;
    border-radius: 4px;
    margin: 40px auto;
    padding: 15px;
    width: 60%;
}
.page-404 .input-group-btn:last-child > .btn, .page-404 .input-group-btn:last-child > .btn-group {
    height: 39px;
    margin-bottom: 0;
    margin-left: -1px;
}
#page-500 h3, .page-404 h3 {
    margin: 5px 0 20px;
}
.preloader {
    background: none repeat scroll 0 0 #ebebeb;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2000;
}
.devoops-getdata {
    color: #ebebeb;
    left: 15px;
    position: absolute;
    top: 25px;
}
#page-500, #page-login {
    height: 100%;
    position: absolute;
    width: 100%;
}
#page-500 {
    background: none repeat scroll 0 0 #ebebeb;
}
#page-500 img {
    display: block;
    margin: 30px auto;
}
#page-login .logo {
    position: absolute;
}
#page-login h3 {
    font-family: "Righteous",cursive;
    font-size: 20px;
}
#page-login .text-right {
    margin-top: 15px;
}
#page-login .box {
    margin-top: 15%;
}
.one-result {
    margin-top: 20px;
}
.one-result a.large {
    color: #878787;
}
.one-result p {
    margin: 0;
}
.large {
    font-size: 1.25em;
}
.nav-search > li > a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    color: #7a7a7a;
    padding: 6px 12px;
}
.nav-search > li > a:hover, .nav-search > li.active > a {
    border-left: 2px solid #fff;
}
.page-feed .avatar {
    float: left;
    margin: 10px 15px;
    overflow: hidden;
    text-align: center;
    width: 60px;
}
.page-feed .avatar img {
    border: 1px solid #f8f8f8;
    height: 60px;
    width: 60px;
}
.page-feed-content {
    background: none repeat scroll 0 0 #fcfcfc;
    margin-left: 90px;
    min-height: 80px;
    padding: 3px 15px 5px;
    position: relative;
}
.page-feed-content small.time {
    font-style: italic;
}
.page-feed .page-feed-content:before {
    color: #fcfcfc;
    content: "";
    font-family: FontAwesome;
    font-size: 30px;
    left: -10px;
    position: absolute;
    top: 15px;
}
.likebox {
    overflow: hidden;
}
.likebox .navbar-nav {
    margin: 0;
}
.likebox .navbar-nav li {
    float: left;
    margin-right: 15px;
}
.likebox .fa-thumbs-up {
    color: #6aa6d6;
}
.likebox .fa-thumbs-down {
    color: #d15e5e;
}
#modalbox {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    bottom: 0;
    display: none;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5000;
}
#modalbox .devoops-modal {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 10px #505559;
    left: 0;
    margin: auto auto 20px;
    position: absolute;
    right: 0;
    top: 90px;
    width: 600px;
    z-index: 6000;
}
#modalbox .devoops-modal-header {
    background-color: #eaeaea;
    background-image: linear-gradient(to bottom, #eaeaea, #e0e0e0);
    border-bottom: 1px solid #ccc;
    color: #505559;
    height: 24px;
    overflow: hidden;
    position: relative;
}
#modalbox .devoops-modal-inner {
    background: none repeat scroll 0 0 #fbfbf0;
    overflow: hidden;
    padding: 15px;
    position: relative;
}
#modalbox .devoops-modal-bottom {
    background: none repeat scroll 0 0 #d8d8d8;
    overflow: hidden;
    padding: 15px;
    position: relative;
}
#about {
    background: none repeat scroll 0 0 #436e90;
    color: #f0f0f0;
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all 1s ease 0s;
    width: 100%;
    z-index: 9999;
}
.about-inner {
    padding: 15px;
}
.about {
    color: #525252 !important;
}
#about.about-h {
    height: 600px;
}
.style1 {
    background: none repeat scroll 0 0 #436e90;
    border-radius: 50%;
    display: inline-block;
    height: 18px;
    margin-left: 10px;
    vertical-align: text-bottom;
    width: 18px;
}
.style2 {
    background: none repeat scroll 0 0 #353535;
    border-radius: 50%;
    display: inline-block;
    height: 18px;
    margin-left: 10px;
    vertical-align: text-bottom;
    width: 18px;
}
.pagination > li > a, .pagination > li > span {
    background-color: #f5f5f5;
    border: 1px solid #d8d8d8;
    color: #969696;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 4px 10px;
    position: relative;
    text-decoration: none;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    background-color: #eee;
    color: #8a8a8a;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    background-color: #fcfcfc;
    border-color: #d8d8d8;
    color: #979797;
    cursor: not-allowed;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #6aa6d6;
    border-color: #6aa6d6;
    color: #fff;
    cursor: default;
    z-index: 2;
}
.fancybox-nav {
    position: fixed;
    width: 50%;
}
.fancybox-close {
    background: url("../img/times.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    position: fixed;
    right: 36px;
    top: 20px;
}
.fancybox-prev span {
    background: url("../img/chevron-left.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    left: 21px;
}
.fancybox-next span {
    background: url("../img/chevron-right.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    right: 36px;
}
#social a {
    color: #f0f0f0;
    display: block;
    float: left;
    margin: 0 15px 0 0;
}
#event_delete {
    margin-left: 20px;
}
.thumbnail {
    margin-bottom: 0;
}
.control-group {
    margin-bottom: 30px;
}
@media (min-width: 768px) {
#sidebar-left.col-sm-2 {
    opacity: 1;
    padding: 0 15px;
    width: 16.6667%;
}
.sidebar-show #sidebar-left.col-sm-2 {
    opacity: 0;
    padding: 0;
    width: 0;
}
.sidebar-show #content.col-sm-10 {
    opacity: 1;
    width: 100%;
}
.page-404 .form-inline {
    width: 60%;
}
}
@media (min-width: 992px) {
.nav.main-menu > li > a, .nav.msg-menu > li > a {
    text-align: left;
}
.nav.main-menu > li > a > i, .nav.msg-menu > li > a > i {
    display: inline-block;
    font-size: 14px;
    width: 20px;
}
.main-menu .dropdown-menu {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 0;
    left: 0;
    margin: 0;
    position: relative;
    visibility: visible;
    z-index: inherit;
}
.main-menu .dropdown-menu > li > a {
    border-radius: 0 !important;
}
.page-404 .form-inline {
    width: 40%;
}
}
@media (max-width: 767px) {
#main {
    margin-top: 100px;
}
#messages-menu {
    top: 140px;
}
.page-404 .form-inline {
    width: 100%;
}
#dashboard_links .nav {
    border-radius: 4px 4px 0 0;
}
#dashboard_links .nav-stacked > li {
    float: left;
}
#dashboard_links .nav-pills > li > a {
    padding: 15px;
}
#dashboard_links .nav-pills > li.active > a:before {
    bottom: 0;
    left: 50%;
    margin-left: -9px;
}
}
@media (max-width: 620px) {
.user-mini {
    display: none;
}
}
@media (max-width: 400px) {
.panel-menu a.account {
    padding: 5px 0;
}
.avatar {
    margin: 0;
}
.panel-menu i.pull-right {
    margin-left: 0;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#dashboard_links .nav-stacked > li {
    float: none;
}
#dashboard_links .nav-pills > li.active > a:before {
    display: none;
}
}
